body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(70, 62, 59);
    color: white;
}
h3{
    background-color: rgb(47, 0, 255);
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-weight: bolder;
    text-transform: uppercase;
}